<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<!-- Uses wsHttpBinding-->
			<wsHttpBinding>
				<binding name="WSHttpBinding_ICalculator" />
			</wsHttpBinding>
		</bindings>
		<client>
			<!-- specifies the endpoint to use when calling the service -->
			<endpoint address="http://localhost:9999/FileService"
			          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileService"
			          contract="ServiceReference1.IFileService" name="WSHttpBinding_IFileService">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>