<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        
        <services>
            <service name="lb6NV.NumbService">
                <endpoint address="http://localhost:9999/NumbSerivce" binding="basicHttpBinding"
                    bindingConfiguration="" name="NumbServiceEndpoint" contract="NumbInterfaces.INumbService" />
            </service>
        </services>
     
    </system.serviceModel>
</configuration>